// Configuration is over Bluetooth now, there are not anymore WiFi credentials here
// Please use the udpx Android app or ESP32-WiFI-BLE one if you want to set 2 APS:
// 1. http://udpx.fasani.de
// 2. https://play.google.com/store/apps/details?id=tk.giesecke.esp32wifible

// MDNSDOMAIN now set automatically since needs to follow naming: NAME_PORT
#define BLE_SECS_WAIT_FOR_CONFIG 8
#define UDPX_VERSION "1.1"

// Uncomment this if you want to have 2 APs defined (Slower start)
//#define WIFI_TWO_APS