// Configuration is over Bluetooth now, there are not anymore WiFi credentials here
// Please use the ESP32-WiFI-BLE App:
// https://play.google.com/store/apps/details?id=tk.giesecke.esp32wifible
#define MDNSDOMAIN "remora"